{% extends "base.html" %}


{% block title %}
	Select Dropbox Folders
{% endblock %}

{% block content %}
<h1>Select Dropbox folders from which to pull photos</h1>


<ul id="dropbox-folder-list">
	{% for folder in folderData %}
		<li class="dropbox-folder-item"><label><input class="dropbox-folder-item-checkbox" type="checkbox" data-value="{{ folder.path }}" value="{{ folder.name }}">{{ folder.name }}</label></li>
		<!-- <li data-value="{{ folder.path }}">{{ folder.name }}</li> -->
	{% endfor %}
</ul>
<button id="submit-dropbox-folders">Select Folders</button>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dropbox-folder-selection.js') }}"></script>
{% endblock %}


