<!DOCTYPE html>
<html>
	<head>
		<title>Product Ninjas App Authorizations></title>
		<meta charset='utf-8'>
	</head>

	<body>

		<h1>Authorize Yo Shit!</h1>
		<form action="/register" method="get" accept-charset="utf-8">
			<input type="text" name="name" value="" placeholder="Enter your User ID">
			<input type="submit">	
		</form>

		<div>
		    <a href="/connect-facebook">Connect your Facebook</a>
		</div>

		<div>
			<a href="/connect-dropbox">Connect your Dropbox photos</a>
		</div>

		<div>
		    <a href="/connect-fitbit">Connect your Fitbit</a>
		</div>

		<div>
			<a href="/connect-lastfm">Connect your Last.fm</a>
		</div>

	</body>
</html>
