{% extends "base.html" %}

{% block title %}
	App Authorization
{% endblock %}

{% block header %}
	{{ super() }}
	<form action="logout" id="logout">
		<span id="username">Hi, {{ name }}!</span>
		<input class="action-button" id="logout-button" type="submit" value="Logout">
	</form>
{% endblock %}

{% block content %}
<h1>Authorize Services</h1>

<div>
    <a href="/connect-facebook">Connect your Facebook</a>
</div>

<div>
    <a href="/connect-instagram">Connect your Instagram</a>
</div>

<div>
	<a href="/connect-dropbox">Connect your Dropbox photos</a>
</div>

<div>
	<a href="/connect-foursquare">Connect your Foursquare/Swarm</a>
</div>

<div>
    <a href="/connect-fitbit">Connect your Fitbit</a>
</div>

<div>
	<a href="/connect-lastfm">Connect your Last.fm</a>
</div>
<br><br>
<a href="/test-api" class="action-button">TEST API</a>

<a href="/test-api" class="action-button">GET ALL </a>
{% endblock %}

{% block scripts %}{% endblock %}


